body {
    background: linear-gradient(270deg, #231557, #6a00db, #ff1313, #fff800);
    background-size: 800% 800%;

    animation-name: bg-colors;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function: ease;
}

@keyframes bg-colors {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.game-info-title h1 {
    color: white;
}


/* Slides section */
.slides {
    position: relative;
}


/* Image slide container */
.slide-cont {
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-position: center;

    height: 800px;
}


/* Content slides */
.slides-content {
    background-color: var(--laforant-black);
}

.content {
    color: white;
    padding: 45px 15px;
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.content h1 {
    font-size: 3em;
    margin: 0;
}

.content p {
    font-size: 1.1em;
    font-weight: 300;

    margin: 0;
    width: 50%;
}


/* Arrows */
.arrow {
    background-color: var(--laforant-light);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;

    position: absolute;
    top: 50%;
}

.arrow:hover {
    opacity: 90%;
    transform: scale(1.5);
    transition: ease-in-out 200ms;
}

#arrow-left {
    left: 10px;

    z-index: 99;
}

#arrow-right {
    right: 10px;
}


/* Agents image */
.slide-cont:nth-of-type(1) {
    background-image: url('../img/agents/maestro.png');
}

.slide-cont:nth-of-type(2) {
    background-image: url('../img/agents/hibana.png');
}

.slide-cont:nth-of-type(3) {
    background-image: url('../img/agents/crypto.png');
    background-size: auto;
    background-position: top;
}

.slide-cont:nth-of-type(4) {
    background-image: url('../img/agents/melusi.png');
}

.slide-cont:nth-of-type(5) {
    background-image: url('../img/agents/kapkan.png');
}

.slide-cont:nth-of-type(6) {
    background-image: url('../img/agents/wattson.png');
    background-size: auto;
    background-position: top;
}

.slide-cont:nth-of-type(7) {
    background-image: url('../img/agents/iana.png');
}

.slide-cont:nth-of-type(8) {
    background-image: url('../img/agents/nokk.png');
}

.slide-cont:nth-of-type(9) {
    background-image: url('../img/agents/echo.png');
}

.slide-cont:nth-of-type(10) {
    background-image: url('../img/agents/warden.png');
}

.slide-cont:nth-of-type(11) {
    background-image: url('../img/agents/thunderbird.png');
}

.slide-cont:nth-of-type(12) {
    background-image: url('../img/agents/wamai.png');
}


/* Media queries */
@media (max-width: 950px) {
    /* Image slide container */
    .slide-cont {
        height: 700px;
        background-size: cover;
    }
}

@media (max-width: 740px) {
    /* Image slide container */
    .slide-cont {
        background-size: cover;
    }
}

@media (max-width: 630px) {
    /* Content */
    .content {
        flex-direction: column;
        width: 85%;
    }

    .content p {
        width: 90%;
        padding-top: 1em;
    }

    
    /* Image slide container */
    .slide-cont {
        height: 500px;

        background-size: cover;
    }
}

@media (max-width: 400px) {
    /* Image slide container */
    .slide-cont {
        background-size: cover;
    }
}