:root {
    /* LaForant Colors */
    --laforant-red: #ef233c;
    --laforant-black: #0b090a;
    --laforant-light: #ebeaea;

    /* Font size */
    --p-size: 16px;
}

@font-face {
    /* Import font */
    font-family: 'Inter';
    src: url('../font/Inter/Inter-VariableFont_slnt\,wght.woff2') format('woff2'), 
         url('../font/Inter/Inter-VariableFont_slnt\,wght.woff') format('woff'),
         url('../font/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    background-color: var(--laforant-light);
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}


/* Header (Navigation) */
header {
    background: var(--laforant-black);
    text-transform: uppercase;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.hamburger-logo {
    display: none;
}

.hamburger-logo > svg {
    fill: #fff;
}

.logo {
    width: 200px;
}

.main-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.logo-container {
    padding-left: 0;
    margin-right: 40px;
}

#nav-menu {
    display: flex;
}

.dropdown {
    color: #fff;
}

.arrow-down {
    width: 14px;
}

#dropdown-hover {
    display: flex;
    align-items: center;
}

.dropdown .dropdown-menu {
   display: none;
   position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-menu > a {
    display: inline-block;
    width: 100%;
    background-color: var(--laforant-black);
    padding: 15px 25px;
    border: none;
}

.dropdown:hover .dropdown-menu > a:hover {
    background-color: #6d6d6d;
}

.main-list .nav-links a, .dropdown > #dropdown-hover {
    display: inline-block;
    padding: 35px 25px;
    border-bottom: solid 3px var(--laforant-black);
}

.main-list .nav-links > a:hover, .dropdown > #dropdown-hover:hover {
    border-bottom-color: red;
}

.pre-register-btn a {
    border: solid #fff 1px;
    padding: 15px 20px;
}

.pre-register-btn a:hover {
    background-color: var(--laforant-red);
    border-color: var(--laforant-red);
}


/* Hero button */
.hero-btn {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    background-color: var(--laforant-black);
    border: solid 2px var(--laforant-red);

    margin-top: 35px;
    padding: 15px 30px;
}

.hero-btn:hover {
    background-color: var(--laforant-red);
}


/* Game Info about section */
.game-info-title {
    text-align: center;
    padding-top: 100px;
}

.game-info-title h1 {
    text-transform: uppercase;
    font-size: 6em;
    margin: 5vh 0;
}


/* Ask User Section */
.ask-user {
    background: var(--laforant-black);
    color: var(--laforant-light);
    text-align: center;
    padding: 20px 10px;
}

.ask-user .hero-btn {
    background-color: var(--laforant-red);
    border: none;

    display: inline-block;
    margin-top: 20px;
}

.ask-user .hero-btn:hover {
    background-color: #f1465a;
}


/* Footer */
footer {
    background: var(--laforant-black);
    padding: 5em 0 10em;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    display: flex;
}

.footer-links li {
    padding: 0 20px;
}

.footer-links a {
    color: #757575;
}

.footer-links a:hover {
    text-decoration: underline;
}

.socmed {
    display: flex;
    align-items: center;
}

.socmed li {
    margin: 0 15px;
}

.socmed svg {
    width: 24px;
    fill: #757575;
}

.facebook-icon svg {
    width: 14px;
    height: 27px;
}

/* Color SVG icons on hover */
.facebook-icon:hover svg {
    fill: #1A7AF2;
}

.instagram-icon:hover svg {
    fill: #fff;
}

.youtube-icon:hover svg {
    fill: #f00;
}

.twitter-icon:hover svg {
    fill: #00ACED;
}

.discord-icon:hover svg {
    fill: #4C6EF5;
}

/* Media Queries */
@media (max-width: 960px) {
    /* Navigation */
    .hamburger-logo {
        display: flex;
    }

    #nav-menu {
        display: none;
    }

    .logo-container {
        margin-right: 0;
    }

    .logo {
        margin: 20px auto;
    }

    .pre-register-btn a {
        padding: 10px 15px;
        /* font-size: 0.8em; */
    }

    /* Footer */
    .footer-inner {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        padding: 0;
    }

    .socmed {
        padding: 0;
    }
}