/* Slides section */
.slides {
    position: relative;
}

.slide-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    
    position: relative;
}

.content {
    background-color: var(--laforant-light);
    color: #000;
    padding: 15px;
    width: 500px;

    position: absolute;
    bottom: 25px;
    right: 25px;
}

.arrow {
    background-color: var(--laforant-light);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;

    position: absolute;
    top: 50%;
}

.arrow:hover {
    opacity: 90%;
    transform: scale(1.5);
    transition: ease-in-out 200ms;
}

#arrow-left {
    left: 10px;

    z-index: 99;
}

#arrow-right {
    right: 10px;
}


/* Maps image */
.slide-cont:nth-of-type(1) {
    background-image: url('../img/maps/kanezaka.jpeg');
}

.slide-cont:nth-of-type(2) {
    background-image: url('../img/maps/queens-canyon.jpg');
}

.slide-cont:nth-of-type(3) {
    background-image: url('../img/maps/phase-runner.jpg');
}

.slide-cont:nth-of-type(4) {
    background-image: url('../img/maps/olympus.jpg');
}

.slide-cont:nth-of-type(5) {
    background-image: url('../img/maps/party-crasher.jpg');
}

.slide-cont:nth-of-type(6) {
    background-image: url('../img/maps/worlds-edge.jpg');
}


/* Media queries */
@media (max-width: 750px) {
    .content {
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 600px) {
    .slide-cont {
        height: 500px;
    }

    .content {
        width: 100%;
        text-align: center;

        background-color: rgb(0, 0, 0, 0.6);
        color: var(--laforant-light);
    }

    .content > * {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 500px) {
    .slide-cont {
        height: 500px;
    }

    .content > * {
        width: 85%;
        margin: 20px auto;
    }
}

@media (max-width: 400px) {
    .slide-cont {
        height: 400px;
    }

    .content {
        height: 100%;
        padding: 0;

        background-color: rgb(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;

        justify-content: center;
    }

    .content > * {
        width: 50%;
        margin: 10px auto;
    }
}