/* Pre-Register */
.pre-register {
    padding-top: 100px;
    padding-bottom: 50px;

    font-size: 1.1em;
    /* background-color: blue; */
    background: url('../img/maps/maps_2_apexLegends-phaseRunner.jpg') center no-repeat;
}

.pre-register > div {
    /* width: 50%; */
    width: 500px;
    margin: auto;
    background-color: white;

    padding: 20px 30px 20px 20px;
    /* opacity: 70%; */
}


.input-section {
    margin-bottom: 30px;
}

form label {
    display: inline-block;
    margin-bottom: 5px;
}

.input-section input, .input-section select {
    display: block;
    width: 100%;
    padding: 10px 5px;

    outline: none;
    border: 2px solid #f0f0f0;
    border-radius: 10px;

    margin-bottom: 5px;
}

#form button {
    width: 100%;
    padding: 15px;

    font-size: 1.2em;
    color: white;
    border: none;

    background-color: var(--laforant-black);
}

#form button:hover {
    background-color: var(--laforant-red);
    cursor: pointer;
}


/* Gender section */
#gender {
    display: flex;
}

input[type=radio], input[type=checkbox] {
    display: inline;
    width: auto;
}

#gender label {
    margin-left: 5px;
    margin-right: 20px;
}


/* Success */
.input-section.success input {
    border-color: #20CC82;
}


/* Error */
.error-msg {
    color: #e74c3c;
    font-weight: 600;
    display: block;
    /* margin-bottom: 30px; */

    visibility: hidden;
}

.input-section.error input, .input-section.error select {
    border-color: #e74c3c;
}

.input-section.error .error-msg {
    visibility: visible;
}