/* Spec Req */
#spec-cont {
    padding-top: 50px;
    padding-bottom: 200px;
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;   
}

#spec-cont * {
    font-weight: 300;
}

#spec-cont b {
    font-weight: 800;
}

#spec-cont h1 {
    font-size: 3em;
    font-weight: 400;
}

#spec-cont ul {
    font-size: 1.5em;
    padding-left: 0;
}

#spec-cont li {
    margin-bottom: 1em;
}

@media (max-width: 780px) {
    .game-info-title h1 {
        font-size: 4em;
    }

    #spec-cont {
        flex-direction: column;
        width: 85%;

        padding-bottom: 100px;
    }

    #spec-cont h1 {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    .game-info-title {
        padding-top: calc(100px + 25px);
    }

    .game-info-title h1 {
        font-size: 3em;
        width: 85%;
        margin: auto;
    }

    #spec-cont {
        padding-top: 0;
        padding-bottom: 50px;
    }

    #spec-cont h1 {
        font-size: 1em;
    }

    #spec-cont ul {
        font-size: 1em;
    }
}

@media (max-width: 375px) {
    .game-info-title h1 {
        font-size: 2em;
    }
}